.CurrentWeight
{
    width: 0270px;
    height: 150px;
    /* border: 3px solid rgb(0, 68, 255); */
    background-color: rgba(46, 85, 119, 0.863);
}

.CurrentWeight h1{
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}

.CurrentWeight h2{
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    color: green;
}

