.AttendenceChart
{
    width: 320px;
    height: 300px;
    border: 3px solid rgb(0, 68, 255);
    background-color: rgba(46, 85, 119, 0.863);
}

.AttendenceChart h1{
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}