.SummaryCardsMain
{
    width: 100vw;
    height: 230px;
    border: 3px solid red;
}

.Cards
{   
    justify-content: center;
    margin-left: 50px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}