.MainQuote
{
    width: 100vw;
    height: 65px;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MainQuote h2
{
    color: white;
    font-size: 18px;
    font-style: italic;
}