.WeightProgress
{
    width: 100vw;
    height: 380px;
    border: 3px solid rgb(255, 238, 0);
}

.ProgressCharts
{
    justify-content: center;
    margin-left: 50px;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

